{% extends 'base.html' %}
{% load static %}

{% block content %}
	<section class="blog-section">
		<div class="feature-blog set-bg" data-setbg="{% static 'img/blog/big.jpg' %}">
			<div class="container">
				<div class="fb-cata">Nature</div>
				<h2>The Function Of The Logo</h2>
				<p>Cassi – a creative lifestyle photo studio making emotional photography communicate a story. Creative lifestyle photo studio making emotional photography.</p>
				<a href="#" class="site-btn">Read More <i class="arrow_right"></i></a>
			</div>
		</div>
		<div class="blog-post-items">
           {% for blog in page_obj %}
			<div class="blog-col">
				<div class="blog-item set-bg" data-setbg="{{ blog.image.url}}">
					<div class="blog-text">
						<div class="bi-cata">{{ blog.category }}</div>
						<h6><a href="{% url 'blog:blog_page' blog.id %}">{{ blog.title }}</a></h6>
					</div>
				</div>
			</div>
           {% endfor %}
		</div>
        <hr>
        <!-- Pagination links -->
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>

	</section>

{% endblock %}